a)      1
        2 2
        3 3 3
        4 4 4 4
        5 5 5 5 5

In [22]:
num=int(input("Enter the height"))
for i in range(1,num+1):
    
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the height5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

b)      1
        1 2
        1 2 3
        1 2 3 4
        1 2 3 4 5

In [24]:
num=int(input("enter the height"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the height5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

c)      1 1 1 1 1
        2 2 2 2
        3 3 3
        4 4
        5

In [44]:
num=int(input("enter the height"))
for i in range(num,0,-1):
    for j in range(1,i+1):
        print(num+1-i,end=" ")
    print()

enter the height5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

d)      5 5 5 5 5
        5 5 5 5
        5 5 5
        5 5
        5

In [61]:
number=5
num=int(input("enter the height"))
for i in range(num,0,-1):
    for j in range(1,i+1):
        print(number,end=" ")
    print()

enter the height5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

e)      0 1 2 3 4 5
        0 1 2 3 4
        0 1 2 3
        0 1 2
        0 1

In [49]:
num=int(input("enter the height"))
for i in range(num,0,-1):
    for j in range(0,i):
        print(j,end=" ")
    print()

enter the height6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

f)      1
        3 3
        5 5 5
        7 7 7 7
        9 9 9 9 9

In [63]:
number=1
num=int(input("Enter the height"))
for i in range(1,num+1):
    
    for j in range(1,i+1):
        print(number,end=" ")
    number=number+2
    print()

Enter the height5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

g)      5 5 5 5 5
        4 4 4 4
        3 3 3
        2 2
        1

In [65]:
num=int(input("enter the height"))
for i in range(num,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

enter the height5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

h)      1
        2 1
        3 2 1
        4 3 2 1
        5 4 3 2 1

In [69]:
num=int(input("Enter the height"))
for i in range(1,num+1):
    
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter the height5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

i)      5 4 3 2 1
        4 3 2 1
        3 2 1
        2 1
        1

In [70]:
num=int(input("Enter the height"))
for i in range(num,0,-1):
    
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter the height5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

j)      1
        3 2
        6 5 4
        10 9 8 7

In [108]:
number=1
num=int(input("enter the height"))
for i in range(1,num):
    for j in range(1,i+1):
        
        print(number,end=" ")
        number=number+1
    print()

enter the height5
1
2 3
4 5 6
7 8 9 10

k)              1
              1 2
            1 2 3
          1 2 3 4
        1 2 3 4 5

In [78]:
size=int(input("Enter the height"))
for i in range(size):
    for j in range(1, size - i):
        print(" ", end=" ")
    for k in range(1,i+2):
        print(k, end=' ')
    print()

Enter the height5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

l)      1
        1 1
        1 2 1
        1 3 3 1
        1 4 6 4 1
        1 5 10 10 5 1
        1 6 15 20 15 6 1

In [103]:
from math import factorial

num=int(input("Enter the height"))

for i in range(num):
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)),end=" ")
    print()

Enter the height7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

m)      1 2 3 4 5
        2 2 3 4 5
        3 3 3 4 5
        4 4 4 4 5
        5 5 5 5 5

In [112]:
num=int(input("Enter the height"))

for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

n)      1
        2 4
        3 6 9
        4 8 12 16
        5 10 15 20 25
        6 12 18 24 30 36
        7 14 21 28 35 42 49
        8 16 24 32 40 48 56 64

In [120]:
num=int(input("Enter the height"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

Enter the height8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

o)      *
        * *
        * * *
        * * * *
        * * * * *

In [121]:
num=int(input("Enter the height:"))
for i in range(num):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the height:5
*
* *
* * *
* * * *
* * * * *

p)              *
              * *
            * * *
          * * * *
        * * * * *

In [130]:
size=int(input("Enter the height"))
for i in range(size):
    for j in range(1, size - i):
        print(" ", end=" ")
    for k in range(1,i+2):
        print("*", end=' ')
    print()

Enter the height5
        *
      * *
    * * *
  * * * *
* * * * *

Q)      * * * * *
        * * * *
        * * *
        * *
        *

In [135]:
num=int(input("Enter the height"))
for i in range(num):
    for j in range(num,i,-1):
        print("*", end=" ")
    print()

Enter the height5
* * * * *
* * * *
* * *
* *
*

R)      * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [177]:
n=6
for i in range(n,0,-1):
    
    for j in range(n-i+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")

    print()

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

S)      *****
         ****
          ***
           **
            *

In [178]:
n=int(input("Enter the height"))
for i in range(n,0,-1):
    
    for j in range(n-i+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")

    print()

Enter the height5
 *****
  ****
   ***
    **
     *

t)            *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *

In [181]:
n=int(input("Enter the height"))
for i in range(1,n+1):
    
    for j in range(1,n-i+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")

    print()

Enter the height7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

u)      *
        * *
        * * *
        * * * *
        * * * * *
        * * * * * *

        * * * * * *
        * * * * *
        * * * *
        * * *
        * *
        *

In [10]:
num=int(input("Enter a number :"))
for i in range(num):
    for j in range(i+1):
        print("*",end=" ")
    print()
print()
for i in range(num,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

Enter a number :6
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

v)      *
        * *
        * * *
        * * * *
        * * * * *
        * * * *
        * * *
        * *
        *

In [12]:
num=int(input("Enter a number :"))
for i in range(num):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(num-1,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

Enter a number :5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

W)          *
          * *
        * * *
      * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [72]:
n=int(input("Enter the height"))
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,n+1):
    
    for j in range(1,i+1):
        print(" ",end=" ")
    for k in range(1,n-i+1):
        print("*",end=" ")

    print()

Enter the height5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

X)        * * * * *
           * * * *
            * * *
             * *
              *
              *
             * *
            * * *
           * * * *
          * * * * *

In [58]:
n=5
for i in range(n,0,-1):
    
    for j in range(1,n-i+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()
for i in range(1,n+1):
    for k in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("* ",end="")
    print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

Y)           *
            * *
           * * *
          * * * *
         * * * * *
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [62]:
n=int(input("Enter the height"))
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()
for i in range(1,n+1):
    
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(1,n-i+1):
        print("* ",end="")

    print()

Enter the height6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

Z)          *
           * *
          *   *
         *     *
        *       *
         *     *
          *   *
           * *
            *

In [69]:
num=int(input("Enter the number :"))

for i in range(num):
    for j in range(num-i-1):
        print(" ", end="")
    for j in range(i * 2 + 1):
        if j == 0 or j == i * 2:
            print("*", end="")
        else:
            print(" ", end="")
    
    print()

for i in range(num_rows - 2, -1, -1):
    for j in range(num_rows - i - 1):
        print(" ", end="")
    for j in range(i * 2 + 1):
        if j == 0 or j == i * 2:
            print("*", end="")
        else:
            print(" ", end="")
    
    print()

Enter the number :5
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *